.resizing-iframe-container {
	display: flex;
	flex: 1;
	min-height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling:touch;

	.resizing-iframe {
		display: flex;
		flex: 1;
		min-height: 100%;
	}
}
